body {
    font-family: "Press Start 2P";
    background-color: #1F1A2D;
    color: #FFFFFF;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10% 0;
    min-height: 200px;
}
.card a {
    margin: 8px;
    width: 600px;
    color: #FFFFFF;
    font-size: 160%;
    line-height: 1.75;
    border: 4px solid #130F1D;
    background-color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}
.card a:hover {
    color: #FC1783;
}
.header {
    text-decoration: none;
    color: #FFFFFF;
}
.header:hover {
    text-decoration-line: underline;
}
.card .message {
    margin: 8px;
    width: 600px;
    font-size: 170%;
}